@{
  Layout = "_Layout";
}

@using Factory.Models

<h1>Your Machines:</h1>

@if (Model.Count == 0)
{
  <h2>You haven't added any Machines yet! Click @Html.ActionLink("here", "Create") to add a Machine to your Factory</h2>
}

<ul>
  @foreach (Machine machine in Model)
  {
    <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId })</li>
  }
</ul>

@if (Model.Count != 0)
{
  <p>@Html.ActionLink("Add another Machine", "Create")</p>
}

<p>See all @Html.ActionLink("Engineers", "Index", "Engineer")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>